{#
  Componente Logo
  Props:
    - class_color: classe colore aggiuntiva (es: 'text-primary')
    - size: dimensione CSS (es: '48px', '2em', '100%')
    - attributes: attributi HTML aggiuntivi
#}
{% set classes = [
  'ildeposito-logo',
  class_color
]|filter(v => v)
%}

<div {{ attributes.addClass(classes) }} style="width: {{ size|default('100px') }}; height: auto;">
  <svg
     viewBox="0 0 26.458333 30.427083"
     version="1.1"
     xmlns="http://www.w3.org/2000/svg"
     style="fill: currentColor; display: block; width: 100%; height: auto;">
    <path d="m 20.510497,30.140955 c -0.382651,-0.03175 -0.809205,-0.118913 -1.18778,-0.243491 -0.399605,-0.13132 -1.042955,-0.456768 -1.380036,-0.698221 -0.314286,-0.225174 -0.7992,-0.679062 -1.037674,-0.971572 -0.502877,-0.617577 -0.879873,-1.364798 -1.068033,-2.119192 -0.605317,-2.424119 0.437413,-4.916456 2.566581,-6.133284 0.513981,-0.293813 1.069906,-0.490019 1.725428,-0.609334 0.407778,-0.07409 1.256821,-0.06674 1.705985,0.01392 0.429515,0.07791 0.967202,0.25284 1.344227,0.437433 0.162053,0.07928 0.306642,0.144246 0.321431,0.144246 0.04067,0 0.03557,-12.7404384 -0.01049,-12.7643691 C 23.453782,7.1751349 11.010658,5.1060493 10.915108,5.1060493 h -0.06723 v 8.0304287 c 0,5.387503 -0.01049,8.128702 -0.03107,8.329122 -0.324802,3.213882 -3.2238778,5.432465 -6.2874571,4.811184 -2.0606762,-0.417911 -3.72575563,-2.112097 -4.1508896,-4.223419 -0.30954292,-1.537601 0.015876,-3.062874 0.9284034,-4.352427 0.2294964,-0.323949 0.8825099,-0.9722 1.2170624,-1.207949 0.5130008,-0.361218 1.0408585,-0.616185 1.6273887,-0.785774 0.506327,-0.14649 0.7280423,-0.173274 1.4254596,-0.172245 0.56057,0 0.6876662,0.0088 0.9431719,0.06527 0.3975176,0.08673 0.8507384,0.238239 1.1817139,0.395186 0.1503517,0.07125 0.2908543,0.129516 0.3123065,0.129516 0.035476,0 0.04067,-1.246148 0.04067,-7.9324667 0,-5.6408362 0.010486,-7.93250732 0.030184,-7.93250732 0.068796,0 18.0702863,3.70009542 18.0902093,3.71807932 0.01049,0.011172 0.01872,4.8085964 0.01872,10.6622437 0,9.367549 -0.01049,10.677359 -0.04067,10.929386 -0.200332,1.31224 -0.876757,2.525843 -1.872114,3.358236 -0.862871,0.721486 -1.846351,1.12455 -2.963326,1.21473 -0.405171,0.03263 -0.390383,0.03263 -0.817046,0 z m -0.86189,-2.527666 c 0.246342,-0.186376 0.649377,-0.49293 0.896132,-0.6811 0.296989,-0.226145 0.466509,-0.337679 0.50079,-0.328722 0.03107,0.0049 0.443009,0.307417 0.921602,0.666704 0.706316,0.529965 0.887714,0.65318 0.961615,0.65318 0.121716,0 0.224411,-0.09867 0.224411,-0.215482 0,-0.04959 -0.14948,-0.554818 -0.333112,-1.122767 -0.182937,-0.568018 -0.328516,-1.056039 -0.32391,-1.084537 0.01049,-0.0292 0.377663,-0.323596 0.858353,-0.678542 0.467637,-0.344676 0.878864,-0.653318 0.914576,-0.685873 0.119089,-0.10879 0.06184,-0.376036 -0.08663,-0.401604 -0.01872,-0.0049 -0.54099,-0.0049 -1.158479,-0.0049 h -1.122394 l -0.33614,-1.095122 c -0.358308,-1.164985 -0.373498,-1.198079 -0.54834,-1.198079 -0.124675,0 -0.209406,0.104781 -0.281907,0.348204 -0.03479,0.117698 -0.183495,0.603709 -0.329045,1.079646 l -0.265325,0.865351 -1.14905,0.0069 c -1.249207,0.0069 -1.220013,0.0049 -1.283928,0.171656 -0.05792,0.152439 0,0.205987 0.939644,0.902022 0.559492,0.413266 0.905285,0.687069 0.905285,0.716812 0,0.02675 -0.149303,0.520938 -0.331005,1.098943 -0.182427,0.577926 -0.331064,1.075462 -0.331064,1.105568 0,0.0786 0.154889,0.223293 0.239375,0.223293 0.04675,0 0.227341,-0.118571 0.518058,-0.338943 z" />
  </svg>
</div>

