{# Copia identica di content-header-canto.twig, da personalizzare #}

<div class="content-header-pagina">
  <span class="font-title py-3 fs-5 text-less-dark ">{{ data.descrizione_header }}</span>

    {{ include('ildeposito:social-share', {
}, with_context = false) }}

</div>
  