# stage | prod
ENV=stage
COMPOSE_PROJECT_NAME=ildeposito-stage
BASIC_AUTH_USER=LA_MIA_USER
BASIC_AUTH_HASH=LA_MIA_PASSWORD

# Database (usate da PHP e MariaDB)
DB_NAME=drupal
DB_USER=drupal
DB_PASSWORD=UNA_PASSWORD_FORTE
DB_ROOT_PASSWORD=UNA_PASSWORD_FORTE
DB_HOST=mariadb
