# DDEV
.ddev/

# IDE
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# DevContainer
.devcontainer/

# Env
.env

# Backup
backup/*
!backup/.gitkeep

# GitHub App private key
backend/private/
