<span class="social-share" tabindex="0" role="button" data-bs-toggle="popover" data-bs-content="test">
  {{ include('ildeposito:icon', {
    name: 'share-network',
    class: ['text-dark', 'fs-5'],
    type: 'regular',
    size: '1rem',
  }, with_context = false) }}
  <span class="fs-5 ms-1">{{ 'Share'|t }}</span>
</span>
