// Footer component styles — scoped BEM
@import "../../src/scss/init";

footer {
  // Custom styles qui se servono
  background-color: #3a3834;

  h6 {
    letter-spacing: 0.125em;
  }

  .menu {
    a {
      color: $light;
      text-decoration: none;
      transition: color 0.3s ease;      
    }
  }

  .disclaimer {
    color: #bbbbbb;
  }

}
